<%= render "form.html", changeset: @changeset,
                        tags: @tags,
                        tech_tags: @tech_tags,
                        action: article_path(@conn, :update, @article) %>

<%= link "Back", to: article_path(@conn, :index) %>
