<h2><%= @article.title %></h2>

<image src='<%= @article.image_url %>' />

<br />
<br />
<br />

<div>
  <p><%= @article.content %></p>
</div>

<ul>
  <li>
    <strong>Published at:</strong>
    <%= @article.published_at %>
  </li>

</ul>

<%= link "Edit", to: article_path(@conn, :edit, @article) %>
 /
<%= link "Back", to: article_path(@conn, :index) %>
