/* This file is for your main application css. */

$cenatus-blue: #6CA8DC;
$cenatus-light-grey: #FAFBFC;
$cenatus-light-blue: #BAD5ED;
$cenatus-font-color: #4A4A4A;
$cenatus-font-size:16px;
$cenatus-line-height: 30px;

@mixin divider {
  border-bottom: 1px dashed $cenatus-light-blue;
}

@mixin divider-top {
  border-top: 1px dashed $cenatus-light-blue;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $cenatus-font-size;
  line-height: $cenatus-line-height;
  color: $cenatus-font-color;
  font-weight: 100;
}

.container-fluid.cenatus {
  padding-left: 5%;
  padding-right: 5%;
}

.container, .container-fluid {
  h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: $cenatus-blue;
  }

  a {
    color: $cenatus-light-blue;
  }
}

.lp {
  padding-left: 20px;
}

.nbm {
  margin-bottom: 0px;
}

.bold {
  font-weight: bold;
}

header {
  @include divider

  .row {
    .logo, .category {
      display: flex;
    	align-items: center;
      // justify-content: center;

      height: 140px;
      color: $cenatus-blue;
      // text-align: center;
    }

    .logo {
      font-size: 48px;
      img {
        height: 110px;
        margin-left: -30px;
      }
    }

    .category {
      border-left: 1px solid white;
    }

    a {
      color: $cenatus-blue;
      display: block;
      font-size: 22px;
      font-weight: 500;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


table.articles {
  tr.heading {
    background-color: #ccc;
  }

  tr.body {
    margin-bottom: 100px;
  }

  .image {
    width: 30%;
  }
}
.articles {
  @include divider;
}


// EXPERIMENT
article.show {
  .image {
    width: 50%;
    margin: 0 0 20px 20px;
  }

  .content {
    text-align: justify;
  }
}
// END EXPERIMENT

article.preview, article.show, main {
  h1, h2, h3, h4, .tag_page_title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img{
    width: 100%;
  }

  .summary, .content {
    padding-bottom: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
  }
}


.meta {
  font-size: $cenatus-font-size - 2;
  line-height: $cenatus-line-height - 5;

  a {
    color: $cenatus-font-color;
    &:hover {
      color: $cenatus-font-color;
    }
  }

  aside {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;

    ul {
      list-style-type: square;
      margin-left: 0px;
      padding-left: 16px;
    }
  }

  aside.tags {
    li {
      display: inline-block;
    }
  }

  .twitter {
    border: 0px solid red;
  }
}

.overlay {
  top: 0px;
  left: 0px;

  position: absolute;
  display: none;
  // display: flex;
  height: 100%;
  width : 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0.7;

  a {
    font-size: xx-large;
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }

  }
}

.hotspot {
  &:hover {
    // border: 1px solid red;
    // background-color: black;
    // opacity: 0.2;
  }
}

.related {
  padding-top: 30px;
  ul {
    list-style-type: square;
  }
}

.debug {
  border: 1px solid red;
  color: blue;
}

.tag:before {
  content: ", "
}

.tag:first-of-type:before {
  content: ""
}

textarea#article_content.form-control, textarea#article_summary.form-control {
  height: 300px;
}

footer {
  .row {
    @include divider-top;
    padding-bottom: 20px;

    .address, .links {
      display: flex;
    	align-items: center;
      height: 120px;
      color: $cenatus-blue;
      padding-left: 32px;
    }

    .links {
      padding-left: 20px;
    }

    .address {
      padding-top: 48px;
    }

    a {
      color: $cenatus-blue;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }

    ul {
      padding-left: 0px;
      margin-top: 20px;
    }

    li {
      list-style: none;
      float: left;
      padding-right: 10px;
    }
  }
}

/* iPhone 6 Portrait */
@media screen and (min-width : 375px) and (max-width : 667px) {

  header {
    .row {
      padding-top: 30px;
      .logo {
        height: 80px;
      }
      .category {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 60px;

        a {
            // font-size: 16px;
        }

      }
      .category:first-of-type {
        border: 0px;
      }
    }
  }
  article.preview img, article.show img{
  }

  .meta aside {
    padding-left: 50px;
  }

  footer {
    .row {
      .links {
        height: 40px;
        padding-bottom: 20px;
      }
    }
  }
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* END Effect 1: Brackets */
