.row.admin
  .col-md-6
    %article
      %ul
        %li
          = link "users", to: user_path(@conn, :index)
        %li
          = link "articles", to: article_path(@conn, :index)
        %li
          = link "tags", to: tag_path(@conn, :index)
