.row
  .col-md-12
    .map-responsive
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2481.971885199102!2d-0.0610791!3d51.5320755!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cc34a7b9507%3A0xd2248c1bab0959a!2sApiary+Studios!5e0!3m2!1sen!2suk!4v1496607821288" width="1600" height="1066" frameborder="0" style="border:0" allowfullscreen></iframe>
.row
  .col-md-12
    %article.show
      .content.tp.lp=
        The Cenatus office is located at
        %a{href="http://apiarystudios.org/"}
          The Apiary
        an independent photo studio and creative production space situated in London’s East End.
        <br/>
        <br/>
        Drop us a mail at:
        %a{href="mailto:info@cenatus.org"}
          info@cenatus.org
