<div class="row">
  <%= for article <- @articles do %>
    <div class="col-md-6">
      <article class="preview">
        <image src='/images/450x300.png' />
        <h4><%= article.title %></h4>
        <div class='summary'><%= article.summary %></div>
      </article>
    </div>
  <% end %>
</div>
