= render_page_title(@conn)
- for {article, index} <- Enum.with_index(@articles) do

  - if rem(index, 2) == 0 do
    <div class="row articles">

  = render "article_preview.html", article: article, conn: @conn

  - if rem(index, 2) != 0 || (length(@articles) -1) == index do
    </div>

.row.meta
  .col-md-4
    %aside.twitter.lp
      %h4 said
      %ul
        %li
          %a{href= '/'}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %li
          %a{href= '/'}
            Lorem ipsum dolor sit amet
        %li
          %a{href= '/'}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  .col-md-4
    %aside
      %h4 meta
      .tags
        = CenatusLtd.ArticleView.render_tags_as_links_from(@conn, @tags)
      %br
      %br
      .tech_tags
        = CenatusLtd.ArticleView.render_tags_as_links_from(@conn, @tech_tags)

  .col-md-4
    %aside.last-fm
      %h4 heard
      %ul
        %li patten — Out the Coast
        %li Wire — wire - pink flag - 09 - surgeon's girl
        %li Sun Ra — Velvet
