- if @tracks do
  %ul
    - for track <- @tracks["recenttracks"]["track"] do
      %li.track
        %span{class: "text"}
          = "#{track["artist"]["#text"]} - #{track["name"]}"
        %a{href: "#{track["url"]}" target: "_blank"}
          %span{class: "glyphicon glyphicon-new-window"}
- else
  %p Last FM tracks not loading right now :(
