- if length(@tweets) > 0 do
  %ul
    - for tweet <- @tweets do
      %li.tweet
        %span{class: "text"}
          = tweet.text
        %a{href: "https://twitter.com/statuses/#{tweet.id}" target: "_blank"}
          %span{class: "glyphicon glyphicon-new-window"}
- else
  %p Tweets not loading right now :(
